body {
    background-color: #FFFFFF;
}

.loadingIcon {
    color: #2bbde9;
}

.gif {
    padding: 5px;
}

.gifs {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    z-index: 2;
}

.search-icon {
    color: #FFFFFF; 
}

.search {
    border: 1px solid rgb(40, 226, 240);
    background: #7ad4f0;
    border-radius: 2px;
}

.search:hover {
    background: #96e1f8;
}
