.navbar {
    background-color:rgba(0, 0, 0, 0.85);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
}

  

